# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
.env

# -----------------------------
# Streamlit Secrets
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Vector Database
# -----------------------------
faiss_index/
*.faiss
*.pkl

# -----------------------------
# Uploaded Files
# -----------------------------
data/resumes/
data/job_description/

# -----------------------------
# Generated Reports
# -----------------------------
*.pdf
*.csv

# -----------------------------
# IDE
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store

# -----------------------------
# Logs
# -----------------------------
* .log